#particles-js{
  position:fixed;
  z-index:-1;
}
/* MOVING BLUE GLOW BACKGROUND */
body{
margin:0;
font-family:Arial,sans-serif;
color:white;
text-align:center;
background:linear-gradient(270deg,#020024,#090979,#000000);
background-size:600% 600%;
animation:bgmove 12s ease infinite;
}

@keyframes blueMove{
  0%{ transform:translateX(0); }
  100%{ transform:translateX(50%); }
}
/* NAVBAR */
.navbar{
position:sticky;
top:0;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
padding:14px;
display:flex;
justify-content:center;
gap:25px;
z-index:20;
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
}
.navbar a:hover{color:#0b5cff;}
.navbar a:first-child{
color:#0b5cff;
}
.container{
max-width:900px;
margin:auto;
padding:80px 20px;
text-align:center;
}

/* HERO */
.hero h1{
font-size:48px;
margin-bottom:8px;
text-shadow:0 0 20px rgba(0,102,255,0.8);
}

.tag{
color:#94a3b8;
margin-bottom:20px;
}

.btn{
display:inline-block;
background:#0b5cff;
color:white;
padding:12px 24px;
border-radius:10px;
text-decoration:none;
margin:5px;
box-shadow:0 0 14px rgba(0,102,255,0.7);
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 25px rgba(0,102,255,1);
}

.yt{background:#ff0033;}

/* SECTION */
.section{
margin-top:80px;
}

/* FEATURED CARD */
.card{
position:relative;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(14px);
padding:30px;
margin:20px auto;
max-width:340px;
border-radius:18px;
border:1px solid rgba(255,255,255,0.08);
box-shadow:0 0 25px rgba(0,0,0,0.6);
transition:0.4s ease;
overflow:hidden;
z-index:2;
}

/* HOLOGRAM GLOW LAYER */
.card::before{
content:"";
pointer-events:none;
position:absolute;
top:-50%;
left:-50%;
width:200%;
height:200%;
background:linear-gradient(
120deg,
transparent,
rgba(11,92,255,0.25),
transparent
);
transform:rotate(25deg);
opacity:0;
transition:0.5s;
}

.card:hover::before{
opacity:1;
}

/* HOVER EFFECT */
.card:hover{
transform:translateY(-8px) scale(1.04);
box-shadow:0 0 35px rgba(11,92,255,0.8);
}

@keyframes pulseGlow{
0%{box-shadow:0 0 15px rgba(0,102,255,0.4);}
50%{box-shadow:0 0 35px rgba(0,102,255,0.9);}
100%{box-shadow:0 0 15px rgba(0,102,255,0.4);}
}

.small{color:#cfcfcf;}

/* PARTICLES BACKGROUND */
#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}
