body{
margin:0;
font-family:Arial, sans-serif;
background:#020631;
color:white;
text-align:center;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

.navbar{
position:sticky;
top:0;
background:rgba(0,0,0,0.6);
padding:14px;
display:flex;
justify-content:center;
gap:25px;
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
}

.navbar a:hover{
color:#0b5cff;
}

.container{
padding:80px 20px;
max-width:900px;
margin:auto;
}

.hero h1{
font-size:48px;
color:#ffffff;
text-shadow:0 0 25px #0b5cff;
margin-bottom:10px;
}

.subtitle{
color:#94a3b8;
}

.highlight{
color:#0b5cff;
font-weight:bold;
margin-top:10px;
}

.highlight2{
color:#5fa8ff;
margin-top:6px;
}

.buttons{
margin-top:20px;
}

.btn{
display:inline-block;
background:#0b5cff;
color:white;
padding:12px 26px;
border-radius:12px;
text-decoration:none;
margin:6px;
box-shadow:0 0 18px rgba(11,92,255,0.6);
transition:0.3s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 35px rgba(11,92,255,1);
}

.yt{
background:#ff0033;
}

.featured{
margin-top:80px;
}

.card{
background:rgba(255,255,255,0.05);
padding:35px;
border-radius:20px;
margin-top:25px;
backdrop-filter:blur(16px);
box-shadow:0 0 50px rgba(11,92,255,0.6);
}

.app-icon{
width:95px;
filter:drop-shadow(0 0 35px #0b5cff);
margin-bottom:15px;
}

section{
margin-top:80px;
}

footer{
margin-top:80px;
padding:20px;
color:#94a3b8;
font-size:13px;
}
