body{
margin:0;
font-family:Arial, sans-serif;
color:white;
text-align:center;
overflow-x:hidden;
background: radial-gradient(circle at 50% 20%, #0b1e6d 0%, #020631 60%);
}
/* Moving Blue Glow */
body::before{
content:"";
position:fixed;
top:-50%;
left:-50%;
width:200%;
height:200%;
background: radial-gradient(circle, rgba(11,92,255,0.15) 0%, transparent 60%);
animation: glowMove 12s linear infinite;
z-index:-2;
}

@keyframes glowMove{
0%{ transform:translate(0%,0%); }
50%{ transform:translate(10%,10%); }
100%{ transform:translate(0%,0%); }
}

#particles-js{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(10px);
padding:14px;
display:flex;
justify-content:center;
gap:25px;
z-index:1000;   /* IMPORTANT */
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
}

.navbar a:hover{
color:#0b5cff;
}

.container{
padding:120px 20px 80px;   /* pehle 80 tha, ab 120 */
max-width:900px;
margin:auto;
}

.hero h1{
font-size:48px;
color:#ffffff;
text-shadow:0 0 25px #0b5cff;
margin-bottom:10px;
}

.subtitle{
color:#94a3b8;
}

.highlight{
color:#0b5cff;
font-weight:bold;
margin-top:10px;
}

.highlight2{
color:#5fa8ff;
margin-top:6px;
}

.buttons{
margin-top:20px;
}

.btn{
display:inline-block;
background:#0b5cff;
color:white;
padding:12px 26px;
border-radius:12px;
text-decoration:none;
margin:6px;
box-shadow:0 0 18px rgba(11,92,255,0.6);
transition:0.3s;
}

.btn:hover{
transform:scale(1.05);
box-shadow:0 0 35px rgba(11,92,255,1);
}

.yt{
background:#ff0033;
}

.featured{
margin-top:80px;
text-align:center;
}
/* Click Effect */
.card:active{
transform:scale(0.98);
box-shadow:0 0 70px rgba(11,92,255,1);
transition:0.1s;
}
/* Glow Animation */
@keyframes clickGlow{
0%{box-shadow:0 0 35px rgba(11,92,255,0.4);}
50%{box-shadow:0 0 70px rgba(11,92,255,1);}
100%{box-shadow:0 0 35px rgba(11,92,255,0.4);}
}

.card.clicked{
animation:clickGlow 0.4s ease;
}
.card{
background:rgba(255,255,255,0.06);
padding:28px 24px;
border-radius:18px;
margin:30px auto;
max-width:360px;   /* width control */
backdrop-filter:blur(14px);
box-shadow:0 0 35px rgba(11,92,255,0.4);
transition:0.3s ease;
}

.card:hover{
transform:translateY(-6px);
box-shadow:0 0 50px rgba(11,92,255,0.8);
}

.app-icon{
width:95px;
filter:drop-shadow(0 0 35px #0b5cff);
margin-bottom:15px;
}

section{
margin-top:80px;
}

footer{
margin-top:80px;
padding:20px;
color:#94a3b8;
font-size:13px;
}
